								<li>
									<h3>Make Magazine</h3>
									<p>
										<a href="http://makezine.com/2016/02/27/arduino-leds-transform-your-fan-video-game-display/">Arduino and LEDs Transform Your Fan into a Video Game Display</a>
									</p>
								</li>
								<li>
									<h3>Hackaday</h3>
									<p>
										<a href="http://hackaday.com/2015/12/01/the-biggest-super-hexagon-fan/">The Biggest Super Hexagon Fan</a>
									</p>
								</li>
								<li>
									<h3>Atmel Blog</h3>
									<p>
										<a href="http://blog.atmel.com/2015/12/11/yes-you-can-play-super-hexagon-in-an-arduino/">Yes, you can play Super Hexagon in an Arduino</a>
									</p>
								</li>
								<li>
									<h3>Custom Protocol</h3>
									<p>
										<a href="http://www.customprotocol.com/programmation/super-ventilagon-quand-fan-super-hexagon-reproduit-jeu-vrai/">Quand un fan de Super Hexagon reproduit le jeu « en vrai »</a>
									</p>
								</li>
								<li>
									<h3>Neoteo</h3>
									<p>
										<a href="http://www.neoteo.com/super-ventilagon-super-hexagon-arduino-ventilador">Super Ventilagon: Super Hexagon con Arduino y un ventilador</a>
									</p>
								</li>
								<li>
									<h3>Shake That Button</h3>
									<p>
										<a href="http://shakethatbutton.com/super-ventilagon/">Super Ventilagon is basically Super Hexagon played on a spinning fan. Which is friggin’ awesome.</a>
									</p>
								</li>
